{# 'page' is '/' #}
{% block context %}
{% set page = get('/minutae') %}

    {# 'page' is '/minutae' #}

    {% if page.children %}
        {% for year in page.children | reverse %}

            {% if year.children %}
                {% for month in year.children | reverse %}

                    {% if month.children %}
                        {% for minutae in month.children | reverse %}

                            <div class="post" class="{{ minutae.type }}">

                                <p class="post-date"><a href="{{ minutae.url }}">{{ minutae.published | date("jS") }} {{ minutae.published | date("F") }} {{ minutae.published | date("Y") }}</a></p>

                                <h2 class="post-title">
                                    {% if  minutae.type == 'own-post' %}
                                        <a href="{{ minutae.url }}">{{ minutae.title }}</a>
                                    {% elseif minutae.type == 'linked-post' %}
                                        <a href="{{ minutae.link }}">{{ minutae.title }}</a>
                                    {% endif %}
                                </h2>

                                <div class="post-content">
                                    {{ minutae.content }}
                                </div>
                                
                            </div>
                            <!-- .post -->

                        {% endfor %}
                    {% endif %}

                {% endfor %}
            {% endif %}

        {% endfor %}
    {% endif %}

{% endblock %}
{# the page variable is set back to '/' #}