{# 'page' is '/' #}
{% block context %}
{% set page = get('/articles') %}

    {# 'page' is '/articles' #}

    {% if page.children %}
        {% for year in page.children %}

            {% if year.children %}
                {% for month in year.children %}

                    <h3 class="post-listing-month"><a href="{{ month.permalink }}">{{ month.published | date("F") }} {{ month.published | date("Y") }}</a></h3>

                     <div class="post-listing-month-group">

                    {% if month.children %}
                        {% for article in month.children %}

                            <p><a href="{{ article.permalink }}"> {{article.title }}</a> / <span>{{ article.published | date("jS") }}</span></p>

                        {% endfor %}
                    {% endif %}

                </div>

                {% endfor %}
            {% endif %}

        {% endfor %}
    {% endif %}

{% endblock %}
{# the page variable is set back to '/' #}