get "/articles" do
	if $children do
		foreach $children do
			if $children do
				foreach $children do
					if $children do
						foreach $children do
					  		<div class="post" class="@type">

				                <p class="post-date"><a href="@url">@date @month @year</a></p>

				                <h2><a href="@link">@title</a></h2>

				                <div class="post-content">
				                    @content
				                </div>
				                
				            </div>
				            <!-- .post -->
		             	endforeach
		  			endif
		  		endforeach
		  	endif
  		endforeach
  	endif
end