{% block context %}
    {% set page = get('/articles/archives') %}

        <!-- section ({{ page.title }}) -->
        <url>
            <loc>http://{{ page.base_url }}/{{ page.permalink }}</loc>
            <lastmod>{{ page.updated }}</lastmod>
            <changefreq>monthly</changefreq>
            <priority>0.9</priority>
        </url>

        {% set page = get('/minutae/archives') %}

        <!-- section ({{ page.title }}) -->
        <url>
            <loc>http://{{ page.base_url }}/{{ page.permalink }}</loc>
            <lastmod>{{ page.updated }}</lastmod>
            <changefreq>monthly</changefreq>
            <priority>0.9</priority>
        </url>

{% endblock %}