get "/articles" do
  if $children do
    foreach $children do
      if $children do
        foreach $children do
          if $children do
            foreach $children do
              <!-- articles/post (@title) -->
              <url>
                  <loc>http://@base_url/@permalink</loc>
                  <lastmod>@updated</lastmod>
                  <changefreq>monthly</changefreq>
                  <priority>0.8</priority>
              </url>

            endforeach
          endif
        endforeach
      endif
    endforeach
  endif
end