{% block context %}
    {% set page = get('/minutae') %}

        <!-- section ({{ page.title }}) -->
        <url>
            <loc>http://{{ page.base_url }}/{{ page.permalink }}</loc>
            <lastmod>{{ page.updated }}</lastmod>
            <changefreq>monthly</changefreq>
            <priority>0.9</priority>
        </url>

        {% if page.children %}
            {% for year in page.children %}

                <!-- minutae/year ({{ year.published | date("Y") }}) -->
                <url>
                    <loc>http://{{ year.base_url }}/{{ year.permalink }}</loc>
                    <lastmod>{{ year.updated }}</lastmod>
                    <changefreq>monthly</changefreq>
                    <priority>0.3</priority>
                </url>

                {% if year.children %}
                    {% for month in year.children %}

                        <!-- minutae/month ({{ month.published | date("F") }} {{ month.published | date("Y") }}) -->
                        <url>
                            <loc>http://{{ month.base_url }}/{{ month.permalink }}</loc>
                            <lastmod>{{ month.updated }}</lastmod>
                            <changefreq>monthly</changefreq>
                            <priority>0.3</priority>
                        </url>

                        {% if month.children %}
                            {% for minutia in month.children %}

                                <!-- minutia/post ({{ minutia.title }}) -->
                                <url>
                                    <loc>http://{{ minutia.base_url }}/{{ minutia.permalink }}</loc>
                                    <lastmod>{{ minutia.updated }}</lastmod>
                                    <changefreq>monthly</changefreq>
                                    <priority>0.8</priority>
                                </url>

                        {% endfor %}
                    {% endif %}

                {% endfor %}
            {% endif %}

        {% endfor %}
    {% endif %}

{% endblock %}