<footer class="clearfix">
    <div class="grid_1 col_left">
        <p>
            <span>© {{ page.current_year }} — </span>
            <a href="https://twitter.com/itsmrwave">@</a>
            <a href="https://plus.google.com/101785561823288276529/about?rel=author">+</a>
        </p>
    </div>
    <div class="grid_1 col_centre">
        <a class="logo" href="http://{{ page.base_url }}/">
            <img src="images/logo-dark-24@2x.png">
        </a>
    </div>
    <div class="grid_1 col_right">
        <p>
            <a href="about/">about</a>
        </p>
    </div>
</footer>