<!-- +++ STYLESHEETS +++ -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="plugins/syntax-highlighter/css/shCoreMidnight.css">
        <link rel="stylesheet" href="plugins/syntax-highlighter/css/shThemeMidnight.css">
        <link rel="stylesheet/less" href="css/main.less?v={{ page.site_updated | date("YmdT") }}">
        <link rel="stylesheet/less" href="css/font-awesome.less">
        <!--[if IE 7]>
        <link rel="stylesheet" href="css/font-awesome-ie7.less">
        <![endif]-->
