/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
body,
input,
select,
textarea {
    color: @lightgrey;
}

body {
    background: white;
    line-height: 1.8em;
    font-size: 13px;
    font-weight: 400; 
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

body.color0 a { color: hsl(  10, 90%, 60% ); } // 1
body.color1 a { color: hsl(  30, 90%, 60% ); } // 2
body.color2 a { color: hsl( 152, 25%, 53% ); } // 3
body.color3 a { color: hsl( 210, 90%, 60% ); } // 4
body.color4 a { color: hsl( 230, 90%, 60% ); } // 5
body.color5 a { color: hsl( 270, 90%, 60% ); } // 6
body.color6 a { color: hsl( 290, 90%, 60% ); } // 7
body.color7 a { color: hsl( 310, 90%, 60% ); } // 8
body.color8 a { color: hsl( 330, 90%, 60% ); } // 9
body.color9 a { color: hsl( 350, 90%, 60% ); } // 10

a, a:visited { 
    text-decoration: none;

    -webkit-transition: color 5.0s linear;
    -moz-transition: color 5.0s linear;
    -ms-transition: color 5.0s linear;
    -o-transition: color 5.0s linear;
    transition: color 5.0s linear;
    color: @orange;
}

a:hover {
    color: @skyblue;
    border-bottom: 1px solid;
}

blockquote {
    padding: 10px 10px 10px 15px;
    border-left: 1px solid #DDD;
    margin-left: 5px;
}

p, ul, ol, pre, article iframe, blockquote {
    margin: 0;
    margin-bottom: 0.8em;
}

header, footer {
    padding: 10px 0;
}

h1, h2 {
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 1.5em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

h2 {
    font-size: 1.25em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

h3 {
    font-size: 1em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

h4 {
    font-size: 1em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-style: italic;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Google Web Fonts: Changing styles when fonts finish loading
   ========================================================================== */

.wf-loading body { // Show paragraphs in serif font until fonts have loaded.
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.wf-inactive body { // Show paragraphs in serif font if fonts have failed to load.
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.wf-active body { // Show paragraphs in Tangerine when the fonts have loaded.
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   LESS Stuff
   ========================================================================== */

@skyblue: #619ed1;
@dirtyblue: #4a7aa3;
@darkgrey: #343434;
@lightgrey: #474747;
@lightergrey: #DDD;
@red: #C94B4B;
@orange: #F77C0F;

/* ==========================================================================
   Grid Stuff
   ========================================================================== */

    // Grid global styles
    .grid_1,
    .grid_half,
    .grid_2,
    .grid_3 {
        display: inline;
        float: left;
    }

    // Column Grid (3 max, 4 possible widths - screw the 1%)
    .grid_1 {
        width: 33.33%;
    }

    .grid_half {
        width: 50%;
    }

    .grid_2 {
        width: 66.66%;
    }

    .grid_3 {
        width: 100%;
    }

/* ==========================================================================
   My's custom styles
   ========================================================================== */


#wrapper {
    margin: 10px auto 200px auto;
    padding: 15px;
    padding-bottom: 3.0em;
    max-width: 540px;
    min-width: 240px;
}

header {
    margin-bottom: 2em;
    border-bottom: 1px solid @lightergrey;

    .col_left {

        .title {
            font-size: 1.2em;
            line-height: 3.5em;
            font-weight: bold;
            height: 48px;
            padding: 0;
            margin: 0;
        }
    }
    
    .col_right {

        a.logo {
            float: right;
            width: 48px;
            height: 48px;
            display: inline-block;

            -webkit-transition: background-color 5.0s linear;
            -moz-transition: background-color 5.0s linear;
            -ms-transition: background-color 5.0s linear;
            -o-transition: background-color 5.0s linear;
            transition: background-color 5.0s linear;
            background-color: white; // prevent flash of color
        }

        a.logo:hover {
            border: none;
        }

        a.bkgcolor0 { background-color: hsl(  10, 90%, 60% ); } // 1
        a.bkgcolor1 { background-color: hsl(  30, 90%, 60% ); } // 2
        a.bkgcolor2 { background-color: hsl( 152, 25%, 53% ); } // 3
        a.bkgcolor3 { background-color: hsl( 210, 90%, 60% ); } // 4
        a.bkgcolor4 { background-color: hsl( 230, 90%, 60% ); } // 5
        a.bkgcolor5 { background-color: hsl( 270, 90%, 60% ); } // 6
        a.bkgcolor6 { background-color: hsl( 290, 90%, 60% ); } // 7
        a.bkgcolor7 { background-color: hsl( 310, 90%, 60% ); } // 8
        a.bkgcolor8 { background-color: hsl( 330, 90%, 60% ); } // 9
        a.bkgcolor9 { background-color: hsl( 350, 90%, 60% ); } // 10
    }
}

footer {
    border-top: 1px solid @lightergrey;

    p {
        font-size: 0.9em;
    }

    div {
        height: 26px;
    }

    .col_centre {

        a.logo {
            width: 24px;
            margin: 0 auto 0 auto;
            display: block;
        }

        a.logo:hover {
            border: none;
        }
    }

    .col_right p {
        padding: 0;
        margin: 0;
        text-align: right;
    }
}

/* +++ Content Styling +++ */

#content {
    margin-bottom: 1em;
}

/* +++ Post Styling +++ */

.post {
    margin-bottom: 10em;

    .post-head {

        .post-date {
            margin-bottom: 0.5em;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            background-color: white;
        }

        .post-title {
            background-color: white;
        }

        .post-image {
            margin-bottom: 1em;
        }
    }

    .post-content {

        // Give headings some breathing room in the content, things looked a bit
        // too crowded

        h3 {
            margin-top: 2em;
        }

        h4 {
            margin-top: 2em;
        }
    }
}

/* +++ Post Listing Styling +++ */

.post-listing {
    margin: 4em 0 2em 0;
}

.post-listing-month {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 1em;
}

.post-listing-month-group {
    padding-left: 10px;
    margin-bottom: 2.5em;
}

.post-footnotes {
    margin-top: 4em;
    font-size: .91em;
}

.post-footnotes ol {
    padding-top: 1em;
    border-top: 1px dashed @lightergrey;
}

.post-navigation {
    height: 23px;

    div {
        height: 26px;
    }

    .col_centre {
        margin: 0 auto 0 auto;
        text-align: center;
    }

    .col_right {
        padding: 0;
        margin: 0;
        text-align: right;
    }
}

/* +++ In-paragraph code blocks +++ */

p code {
    padding: 0px 5px 2px;
    background-color: #F0F0F0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* +++ Large code blocks +++ */

.syntaxhighlighter {
    padding: 5px 0 5px 0 !important;
}

/* +++ Homepage Styling +++ */

.homepage {

    font-size: 2.25em;
    margin-top: 5%;
}

/* ==========================================================================
   Fixes
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}