<head>
  <!-- +++ META +++ -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- +++ PAGE INFO +++ -->
  <title>{{ page.title }} • {{ site.name }}</title>

  <!-- +++ FAVICON & ICONS: combined 16, 32 & 48 +++ -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <!-- +++ STYLESHEETS +++ -->
  <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="/assets/stylesheets/foundation.css">
  <link rel="stylesheet" href="/assets/stylesheets/font-awesome.css">
  <link rel="stylesheet" href="/assets/stylesheets/highlight-github.css">
  <link rel="stylesheet" href="/assets/stylesheets/nprogress.css">
  <link rel="stylesheet" href="/assets/stylesheets/site.css">

  <!-- +++ FONTS +++ -->
  <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap">
  <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap">

  <!-- +++ JAVASCRIPTS +++ -->
  <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/jquery.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/turbolinks.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/foundation.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/nprogress.js"></script>
  <script type="text/javascript" src="/assets/javascripts/site.js"></script>

  <!-- FEEDS -->
  <link rel="alternate" type="application/atom+xml" href="http://kingori.co/feeds/articles.xml" title="King'ori's Articles &amp; Thoughts Feed">
  <link rel="alternate" type="application/rss+xml"  href="http://kingori.co/feeds/minutae.xml"  title="King'ori's Code Minutae Feed">

</head>
