<head>
  <!-- +++ META +++ -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- +++ PAGE INFO +++ -->
  <title>{{ page.title }} • {{ site.name }}</title>

  <!-- +++ FAVICON & ICONS: combined 16, 32 & 48 +++ -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <!-- +++ STYLESHEETS +++ -->
  <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="/assets/stylesheets/foundation.css">
  <link rel="stylesheet" href="/assets/stylesheets/nprogress.css">
  <link rel="stylesheet" href="/assets/stylesheets/tomorrow-night.css">
  <link rel="stylesheet/less" href="/assets/stylesheets/styles.less">

  <!-- +++ JAVASCRIPTS +++ -->
  <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/highlight.pack.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/jquery.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/less-1.6.2.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/turbolinks.js"></script>
  <script type="text/javascript" src="/assets/javascripts/foundation.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/nprogress.js"></script>
  <script type="text/javascript" src="/assets/javascripts/main.js"></script>

  <!-- FEEDS -->
  <link rel="alternate" type="application/atom+xml" href="http://kingori.co/feeds/articles.xml" title="King'ori's Articles &amp; Thoughts Feed">
  <link rel="alternate" type="application/rss+xml"  href="http://kingori.co/feeds/minutae.xml"  title="King'ori's Code Minutae Feed">

</head>
