<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        
        {% include 'partials/chunks/ascii.html' %}
                
        <!-- +++ META +++ -->
        <meta charset="utf-8">
        <meta name="robots" content="INDEX">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        
        <!-- +++ SITE INFO +++ -->
        <title>{{ page.title }} |  {{ page.site_name }}</title>
        {% include 'partials/chunks/meta.html' %}
        
        {% include 'partials/chunks/stylesheets.html' %}
        
        {% include 'partials/chunks/scripts-head.html' %}

        {% include 'partials/chunks/fonts.html' %}
        
        {% include 'partials/chunks/google-analytics.html' %}
            
    </head>
    
    <body>

        {% include 'partials/chunks/chrome-frame.html' %}

        <div id="wrapper">

            {% include 'partials/chunks/header.html' %}
        
            <div id="content">

                <h2>
                    {{ page.title }}
                    {% if page.parent['0'] == './content/articles' %}
                        <a href="{{ page.feed }}" title="Subscribe to articles"> <i class="icon-rss"></i></a>
                    {% endif %}
                </h2>

                <div class="post-listing">

                    {% if page.siblings %}
                        {% for year in page.siblings | reverse %}

                            {% if year.children %}
                                {% for month in year.children | reverse %}

                                    <h3 class="post-listing-month"><a href="{{ month.permalink }}">{{ month.published | date("F") }} {{ month.published | date("Y") }}</a></h3>

                                     <div class="post-listing-month-group">

                                    {% if month.children %}
                                        {% for article in month.children | reverse %}

                                            <p>
                                                <a href="{{ article.permalink }}"> {{article.title }}</a> <sup>{{ article.published | date("jS") }}</sup>
                                                {% if  article.type == 'linked-post' %}
                                                    ↩
                                                {% endif %}
                                            </p>

                                        {% endfor %}
                                    {% endif %}

                                </div>

                                {% endfor %}
                            {% endif %}

                        {% endfor %}
                    {% endif %}
                    
                </div>

            </div>
            
            {% include 'partials/chunks/footer.html' %}

        </div>
        <!-- #wrapper -->

        {% include 'partials/chunks/scripts-body.html' %}
        
    </body>
</html>