<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        
        {% include 'partials/chunks/ascii.html' %}
                
        <!-- +++ META +++ -->
        <meta charset="utf-8">
        <meta name="robots" content="INDEX">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        
        <!-- +++ SITE INFO +++ -->
        <title>{{ page.title }} |  {{ page.site_name }}</title>
        {% include 'partials/chunks/meta.html' %}
        
        {% include 'partials/chunks/stylesheets.html' %}
        
        {% include 'partials/chunks/scripts-head.html' %}

        {% include 'partials/chunks/fonts.html' %}
        
        {% include 'partials/chunks/google-analytics.html' %}
            
    </head>
    
    <body>

        {% include 'partials/chunks/chrome-frame.html' %}

        <div id="wrapper">

            {% include 'partials/chunks/header.html' %}
        
            <div id="content">

                <h2> {{ page.title }}</h2>

                <div class="post-listing">

                    {% include 'partials/list-articles-simple.html' %}
                    
                </div>

            </div>
            
            {% include 'partials/chunks/footer.html' %}

        </div>
        <!-- #wrapper -->

        {% include 'partials/chunks/scripts-jquery.html' %}

        <!-- SCRIPTS -->
        <script src="js/debug.min.js"></script>
        <script src="js/main.js"></script>
        
    </body>
</html>