<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>

        {% include 'partials/chunks/ascii.html' %}

        <!-- +++ META +++ -->
        <meta charset="utf-8">
        <meta name="robots" content="INDEX">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- +++ SITE INFO +++ -->
        <title>{{ page.site_name }}</title>
        {% include 'partials/chunks/meta.html' %}

        {% include 'partials/chunks/stylesheets.html' %}

        {% include 'partials/chunks/scripts-head.html' %}

        {% include 'partials/chunks/fonts.html' %}

        {% include 'partials/chunks/google-analytics.html' %}

    </head>

    <body>

        {% include 'partials/chunks/chrome-frame.html' %}

        <div id="wrapper">

            <div id="content" class="homepage">

                <h1>
                    I'm <a href="about/">King'ori J. Maina</a>, I build web stuff like <a href="http://waabeh.com/" target="_blank">this</a>. Often slaving away @ <a href="http://watungaji.com/" target="_blank">Watungaji</a>. Find me on <a href="{{ page.twitter }}">Twitter</a>, <a href="{{ page.googleplus }}">G+</a>, <a href="{{ page.linkedin }}">LinkedIn</a>, <a href="{{ page.github }}">Github</a> or plain old <a href="mailto:{{ page.contact_email }}?Subject=You're%20Awesome">email</a>. I archive smart <a href="articles/archives/">articles & thoughts here</a> and  <a href="minutae/archives/">code minutae here</a>.
                </h1>

            </div>

            {% include 'partials/chunks/footer.html' %}

        </div>
        <!-- #wrapper -->

        {% include 'partials/chunks/scripts-body.html' %}

    </body>
</html>
