<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        
        {% include 'partials/chunks/ascii.html' %}
                
        <!-- +++ META +++ -->
        <meta charset="utf-8">
        <meta name="robots" content="INDEX">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        
        <!-- +++ SITE INFO +++ -->
        <title>{{ page.title }} | {{ page.site_name }}</title>
        {% include 'partials/chunks/meta.html' %}
        
        {% include 'partials/chunks/stylesheets.html' %}
        
        {% include 'partials/chunks/scripts-head.html' %}

        {% include 'partials/chunks/fonts.html' %}
        
        {% include 'partials/chunks/google-analytics.html' %}
            
    </head>
    
    <body>

        {% include 'partials/chunks/chrome-frame.html' %}

        <div id="wrapper">

            {% include 'partials/chunks/header.html' %}
        
            <div id="content">

                {% if page.children %}
                    {% for year in page.children | reverse %}

                        {% if year.children %}
                            {% for month in year.children | reverse | slice(0, 1) %}

                                {% if month.children %}
                                    {% for minutae in month.children | reverse %}

                                        <div class="post" class="{{ minutae.type }}">

                                            <p class="post-date"><a href="{{ minutae.url }}">{{ minutae.published | date("j") }}<sup>{{ minutae.published | date("S") }}</sup> {{ minutae.published | date("F") }} {{ minutae.published | date("Y") }}</a></p>

                                            <h2 class="post-title">
                                                {% if  minutae.type == 'own-post' %}
                                                    <a href="{{ minutae.url }}">{{ minutae.title }}</a>
                                                {% elseif minutae.type == 'linked-post' %}
                                                    <a href="{{ minutae.link }}">{{ minutae.title }}</a>
                                                {% endif %}
                                            </h2>

                                            <div class="post-content">
                                                {{ minutae.content }}
                                            </div>
                                            
                                        </div>
                                        <!-- .post -->

                                    {% endfor %}
                                {% endif %}

                            <div class="post-navigation">
                                <div class="grid_1 col_left">
                                    {% if month.previous_sibling['0'] %}
                                        {% for previous in month.previous_sibling %}
                                            <a href="{{ previous.url }}">←</a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="grid_1 col_centre">
                                    {{ month.published | date("F") }}
                                </div>
                                <div class="grid_1 col_right">
                                    {% if month.next_sibling['0'] %}
                                        {% for next in month.next_sibling %}
                                            <a href="{{ next.url }}">→</a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            {% endfor %}
                        {% endif %}

                    {% endfor %}
                {% endif %}

            </div>
            
            {% include 'partials/chunks/footer.html' %}

        </div>
        <!-- #wrapper -->

        {% include 'partials/chunks/scripts-body.html' %}
        
    </body>
</html>