---
layout: default
---

<div id="archives">
  <div class="row">
    <div class="text-left small-10 column">
      <h2>{{page.title}}</h2>
    </div>
    <div class="text-right small-2 column">
      <a href="/feeds/{{page.group}}.xml" class="feed-link"><i class="fa fa-rss"></i></a>
    </div>
  </div>
  <ul>
    {% assign posts = site.collections[{{page.group}}].docs | sort: 'date' %}
    {% for post in posts %}
      <li>
        <div class="row">
          <div class="p-date text-right small-3 column">
            {% assign d = post.date | date: "%-d" %}
            {% case d %}
            {% when "1" or "21" or "31" %}{{ d }}<sup>st</sup>
            {% when "2" or "22" %}{{ d }}<sup>nd</sup>
            {% when "3" or "23" %}{{ d }}<sup>rd</sup>
            {% else %}{{ d }}<sup>th</sup>
            {% endcase %}
            {{ post.date | date: '%b %Y' }}
          </div>
          <div class="small-9 text-left column">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
