<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <!-- +++ META +++ -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- +++ PAGE INFO +++ -->
    <title>{{ page.title }} • {{ site.name }}</title>

    <!-- +++ FAVICON & ICONS: combined 16, 32 & 48 +++ -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- +++ STYLESHEETS +++ -->
    <link rel="stylesheet" href="{{ site.baseurl}}/assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl}}/assets/stylesheets/foundation.css">

    <script src="{{ site.baseurl}}/assets/javascripts/vendor/modernizr.js"></script>
    <script src="{{ site.baseurl}}/assets/javascripts/vendor/jquery.js"></script>
    <script src="{{ site.baseurl}}/assets/javascripts/vendor/less-1.6.2.min.js"></script>
    <script src="{{ site.baseurl}}/assets/javascripts/foundation.min.js"></script>

  </head>
  <body>

    {{ content }}

    <script>
      $(document).foundation();
    </script>
  </body>
</html>

