<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

  {% include head.html %}

  <body>

    <div id="wrapper">

      <div class="row">
        <div class="small-11 small-centered medium-8 medium-centered large-6 large-centered column clearfix">
          {{ content }}
        </div>
      </div>

      <footer class="row">
        <div class="small-11 small-centered medium-8 medium-centered large-6 large-centered column clearfix">
          <div class="text-left small-6 columns">
            © 2004 — <a href="{{site.author.twitter_url}}">@</a>
          </div>
          <div class="text-right small-6 columns">
            About
          </div>
        </div>
      </footer>
    </div>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
