<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

  {% include head.html %}

  <body>

    <div id="wrapper">

      <div class="row">
        <div class="text-center small-11 small-centered medium-8 medium-centered large-7 large-centered column clearfix">
          <div style="height:48px; width:100%;">
            <img src="/assets/images/face-48@2x.png" height="48" width="48">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-11 small-centered medium-8 medium-centered large-8 large-centered column clearfix">
          <div id="homepage-entrance" class="text-center">{{ content }}</div>
          <br>
          <div id="homepage-lists" class="text-center">
            <h2>Projects</h2>
            <ul class="no-bullet">
              {% for project in site.data.projects %}
                <li><a href="{{ project.url }}">{{ project.title }}</a></li>
              {% endfor %}
            </ul>
            <h2>Communities</h2>
            <ul class="no-bullet">
              {% for community in site.data.communities %}
                <li><a href="{{ community.url }}">{{ community.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      {% include footer.html %}
    </div>

    <script>
      $(document).foundation();
    </script>

    {% include google-analytics.html %}
  </body>
</html>
