<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

  {% include head.html %}

  <body>

    <div id="wrapper">

      <div class="row">
        <div class="text-center small-11 small-centered medium-8 medium-centered large-7 large-centered column clearfix">
          <div style="height:48px; width:100%;">
            <img src="/assets/images/face-48@2x.png" height="48" width="48">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-11 small-centered medium-8 medium-centered large-6 large-centered column clearfix">
          <div id="homepage-entrance" class="text-center">{{ content }}</div>
          <br>
          <div id="homepage-projects" class="text-center">
            <h2>Projects</h2>
            <ul class="no-bullet">
              <li><a href="https://github.com/itsmrwave/annotator_store-gem">Annotator Store gem</a></li>
              <li><a href="https://arusiguru.com/">Arusi Guru</a></li>
              <li><a href="http://nairuby.org/">Nairuby</a></li>
              <li><a href="http://oculusid.com">OculusID</a></li>
              <li><a href="https://itsmrwave.github.io/pesapal-gem">Pesapal gem</a></li>
              <li><a href="http://kingori.co/systematic-theology/">Systematic Theology</a></li>
              <li><a href="https://waabeh.com">Waabeh</a></li>
            </ul>
          </div>
        </div>
      </div>

      {% include footer.html %}
    </div>

    <script>
      $(document).foundation();
    </script>

    {% include google-analytics.html %}
  </body>
</html>
